{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "node_modules",
    "build"
  ],
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "formatjs",
    "@stylistic",
    "@stylistic/ts",
    "@stylistic/jsx"
  ],
  "rules": {
    "formatjs/prefer-formatted-message": [
      "warn"
    ],
    "formatjs/no-useless-message": [
      "error"
    ],
    "formatjs/no-id": [
      "error"
    ],
    "formatjs/no-invalid-icu": [
      "error"
    ],
    "formatjs/no-multiple-whitespaces": [
      "warn"
    ],
    "formatjs/no-multiple-plurals": [
      "warn"
    ],
    "formatjs/no-offset": [
      "warn"
    ],
    "formatjs/no-complex-selectors": [
      "warn"
    ],
    "formatjs/enforce-default-message": [
      "error",
      "literal"
    ],
    "formatjs/enforce-placeholders": [
      "error"
    ],
    "formatjs/enforce-description": [
      "warn",
      "literal"
    ],
    "formatjs/no-literal-string-in-jsx": [
      "warn"
    ],
    "no-console": [
      "warn"
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "type",
          "builtin",
          "external",
          "index",
          "object",
          "parent",
          "sibling",
          "internal"
        ]
      }
    ],
    "@stylistic/rest-spread-spacing": [
      "error",
      "never"
    ],
    "@stylistic/no-trailing-spaces": [
      "error"
    ],
    "@stylistic/no-whitespace-before-property": [
      "error"
    ],
    "@stylistic/eol-last": [
      "error",
      "never"
    ],
    "@stylistic/indent": [
      "error",
      2
    ],
    "@stylistic/jsx/jsx-indent": [
      "error",
      2,
      {
        "checkAttributes": true,
        "indentLogicalExpressions": true
      }
    ],
    "@stylistic/comma-dangle": [
      "error",
      "never"
    ],
    "@stylistic/dot-location": [
      "error",
      "property"
    ],
    "@stylistic/semi-style": [
      "error",
      "last"
    ],
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "@stylistic/no-extra-semi": [
      "error"
    ],
    "@stylistic/semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true,
        "omitLastInOneLineClassBody": true
      }
    ],
    "@stylistic/ts/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": true
        }
      }
    ],
    "@stylistic/nonblock-statement-body-position": [
      "error",
      "below"
    ],
    "@stylistic/brace-style": [
      "error",
      "stroustrup"
    ],
    "no-duplicate-imports": [
      "error"
    ],
    "@stylistic/quotes": [
      "error",
      "double"
    ],
    "react/forbid-dom-props": [
      "error",
      {
        "forbid": [
          "style"
        ]
      }
    ],
    "react/forbid-component-props": [
      "error",
      {
        "forbid": [
          "style"
        ]
      }
    ],
    "react-hooks/rules-of-hooks": [
      "error"
    ],
    "react-hooks/exhaustive-deps": [
      "warn"
    ]
  }
}