{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "node_modules",
    "build"
  ],
  "plugins": [
    "import",
    "react"
  ],
  "rules": {
    "no-console": [
      "warn"
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "type",
          "builtin",
          "external",
          "index",
          "object",
          "parent",
          "sibling",
          "internal"
        ]
      }
    ],
    "indent": [
      "error",
      2
    ],
    "no-duplicate-imports": [
      "error"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "react/jsx-indent": [
      "error",
      2,
      {
        "checkAttributes": true,
        "indentLogicalExpressions": true
      }
    ],
    "react/forbid-dom-props": [
      "error",
      {
        "forbid": [
          "style"
        ]
      }
    ],
    "react/forbid-component-props": [
      "error",
      {
        "forbid": [
          "style"
        ]
      }
    ]
  }
}