<!DOCTYPE html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="<%= resetCss.bundleFileName %>?version=<%= resetCss.version %>" rel="stylesheet">
</head>
<body>
  <div id="billpath"></div>
  <div id="overlay-loader" class="active animated"></div>

  <script>document.getElementById("overlay-loader").classList.add(localStorage.getItem("preferrences/theme") || "light")</script>
  <script src="<%= react.bundleFileName %>?version=<%= react.version %>"></script>
  <script src="<%= reactDom.bundleFileName %>?version=<%= reactDom.version %>"></script>
</body>
</html>