@keyframes billpath-loader-active-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

#overlay-loader {
  --billpath---color-accent: rgb(230 95 105);

  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  font-size: 30rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: var(--billpath---color-accent);
  opacity: 0;

  transition: opacity .3s ease-in-out, background-color .7s ease-in-out .2s;
}

#overlay-loader.animated::after {
  content: "BP";

  animation-name: billpath-loader-active-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#overlay-loader.active {
  pointer-events: initial;
  opacity: 1;
}

#overlay-loader.light {
  background-color: rgb(255 255 255);
}

#overlay-loader.dark {
  background-color: rgb(41 41 41);
}