name: Deploy WebApp to GitHub Pages

on:
  push:
    branches:
    - dev

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Use NodeJS 20
      uses: actions/setup-node@v3
      with:
        node-version: 20.x

    - name: Resotre
      run: npm install
      working-directory: webApp

    - name: Test
      run: npm run test
      working-directory: webApp

    - name: Build
      run: npm run release
      working-directory: webApp

    - name: Upload Artifact
      uses: actions/upload-pages-artifact@v2
      with:
        # Path of the directory containing the static assets.
        path: webApp/build
        retention-days: 3

  deploy:
    needs: build
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Deploy
      id: deployment
      uses: actions/deploy-pages@v2
